* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  min-height: 100vh;
  background-image: url(https://picsum.photos/id/302/1920/1080);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #081223;
}

.navbar {
  height: 4rem;
}
.container {
  height: calc(100vh - 4rem);
  h1 {
    color: #464646;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    font-weight: 300;
  }
}
