* {
  font-family: "Open Sans", sans-serif;
}
.fontWhite {
  color: aliceblue;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.btn-primary {
  background-color: rgb(255, 0, 247);
  border: none !important;
}

input {
  &::placeholder {
    font-size: 0.7rem !important;
    color: #a4a4a4 !important;
  }
}
